*{
    /*To remove the browsers default */
    margin: 0;
    padding: 0;

    /* box-sizing: border-box; */

    font-family: 'Space Mono', monospace;
}

header{
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    padding: 20px;
    font-weight: 700;
}
body{
    margin: 0 auto;
    /* max-width: 1440px; */
}

main{
    width: 80%;
    margin: 0 auto;
}

.container{
    display: flex;
    flex-direction: column;

}

.container img {
    width: 286px;
    height: 238px;
}

.item p{
    margin-top: 30px;
    font-size: 20px;
}

.item h1{
    font-size: 30px;
}

button{
    margin-top: 30px;
    background-color: #333333;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 23px 43px;
    font-weight: 700;
    cursor: pointer;
}

footer{
    text-align: center;
}


@media screen and (min-width: 480px) {

    .container{
        flex-direction: row;
    }

    .container img{
        width: 539px;
        height: 447px;
    }
    
}